.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    display: block;
}