<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web приложение</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="content">
        <img src="/logo.png" alt="Логотип">

        <div>
            <p th:text="${successMessage}"></p>
        </div>

        <form th:action="@{/app}" method="post" th:object="${textEntry}">
            <div class="form-group">
                <label for="text">Введите текст:</label>
                <input type="text" id="text" th:field="*{text}" class="form-control">
                <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="error"></span>
                <span th:if="${#fields.hasErrors('text')}" th:text="'Максимальная длина текста: ' + ${maxLength}"
                      class="error"></span>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

        <h2>Сохраненные записи:</h2>
        <ul th:if="${entries.size() > 0}">
            <li th:each="entry : ${entries}" th:text="${entry.text}"></li>
        </ul>
        <ul th:unless="${entries.size() > 0}">
            <li>Записей пока нет</li>
        </ul>
    </div>
</div>
</body>
</html>